<section class="home-news">
  <div class="row">
    <div class="col">
      <div class="news-item">
        <div class="news-item-body">
          <div class="news-item-meta"><p><span>Press Release</span> | <span>28.05.2020</span></p></div>
          <div class="news-item-title"><p>BORA-hansgrohe prepares for the season recommencement in Ötztal</p></div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="news-item">
        <div class="news-item-body">
          <div class="news-item-meta"><p><span>Press Release</span> | <span>28.05.2020</span></p></div>
          <div class="news-item-title"><p>BORA-hansgrohe prepares for the season recommencement in Ötztal</p></div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="news-item">
        <div class="news-item-body">
          <div class="news-item-meta"><p><span>Press Release</span> | <span>28.05.2020</span></p></div>
          <div class="news-item-title"><p>BORA-hansgrohe prepares for the season recommencement in Ötztal</p></div>
        </div>
      </div>
    </div>
  </div>
</section>
