<section id="counts" class="counts">
      <div class="container">
        <div class="row counters">
          <div class="col-lg-3 col-6 text-center">
            <img src="/img/partners/logos-specialized-2x@2x.png" alt="">
          </div>
          <div class="col-lg-3 col-6 text-center">
            <img src="/img/partners/logos-sportful-2x@2x.png" alt="">
          </div>
          <div class="col-lg-3 col-6 text-center">
            <img src="/img/partners/main_sponsors-03@2x.png" alt="">
          </div>
          <div class="col-lg-3 col-6 text-center">
            <img src="/img/partners/autoeder-05@2x.png" alt="">
          </div>
        </div>
      </div>
  </section>
