<section class="team-filter">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-md-1">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group btn-block" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary btn-block btn-lg">Allrounder</button>
            <button type="button" class="btn btn-secondary btn-block btn-lg">Climber</button>
            <button type="button" class="btn btn-secondary btn-block btn-lg">Sprinter</button>
            <button type="button" class="btn btn-secondary btn-block btn-lg">Time Trialist</button>
            <button type="button" class="btn btn-secondary btn-block btn-lg">GC</button>
            <button type="button" class="btn btn-secondary btn-block btn-lg">Classics</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
