<!DOCTYPE html>
<html  ⚡ lang="en-GB">

  {% include head.html %}

  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TVRMH7T"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% include navbar.html %}



        {{ content }}




    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="{{ site.github.url }}/js/jquery-3.2.1.min.js"></script>
    <script src="{{ site.github.url }}/js/popper.js"></script>
    <script src="{{ site.github.url }}/js/bootstrap.min.js"></script>
    <script src="{{github.site.url}}/js/scripts.js" type="text/javascript"></script>
  </body>

</html>
